#selected-paper-box {
    display:none;
    position: absolute;
    font-size: 70%;
    right:0em;
    bottom:.2em;
    max-width:50%;
    background-color: rgb(255, 199, 0);
    
}
.add-seed {
    position: absolute;
    right:5px;
    border:none;
    background:#383A38;
    color:white;
}

#selected-paper-box .stroke1 {
    stroke:white;
}
#selected-paper-box .fill1 {
    fill:white;
}