.list{
    width:100%;
    height:100%;
    position: absolute;
    flex-direction: column
}
.list-header{
    height:10%;
    padding-top:6%;
    padding-bottom:1%;
    padding-left:10%;
    padding-right:2%;
    box-sizing: border-box;
}
.list-header > h1 {
    font-size:24px;
    margin:0   
}

.list-body {
    overflow: auto;
    overflow-x:hidden;
    flex:auto;
    height:75%;
    box-sizing: border-box;
}

.list-footer{
    height:15%;
    bottom: 0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    flex-flow: column wrap;
    box-sizing: border-box;
}

.list-footer  p {
    margin: .5em;
}

.list-footer-btn-group {
    display: flex;

}

.list-footer-btn-group button {
    margin: .5em;
    padding: .8em 1em;
    border-radius: 50px;
    outline: none;
}

.list-footer-btn-group button:nth-child(2) {
    background: #FFC700;
}

#more-button{
    background:none;
    width: 100%;
    margin: 0;
    text-align: center;
}