.node circle {
    stroke: #fff;
    stroke-width: 1px;
}
.link line {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1.5px;
}

#page-title {

    margin: 20px;
    margin-left: 0; 
    
}

.top-buttons {

    margin: 5px;

}

#input-control {

    margin-bottom: 20px;

}

input[type=range],
	::-moz-range-track,
	 ::-ms-track {
	 -webkit-appearance: none;
	 background-color: 3f91e5;
	 width: 250px;
	 height:20px;
}

#slider {

    width:100px;
    height:10px;
}


#detailBox {

    padding: 10px;
    margin-top: 20px;
}


#controlPanel {
    
    padding: 10px;
    margin-top: 20px;
}

#graphKey {

    padding: 10px;
    margin-top: 20px;
    
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid blue; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
