.outer-paper-box {
    width: 99%;
}
.inner-paper-box{
    background-color:rgb(255, 255, 255);
    border: 1px solid;
    margin: .5em;
}
.inner-paper-box:hover{
    background-color:rgb(255, 199, 0)
}
.paper-title {
    font-weight: 800;
    margin:1em;
    margin-right:5em;
}
.metric {
    float:right;
    position: absolute;
    top: 0em;
    right: 0em;
    margin: 1em;
}
.author-year {
    text-align: right;
    margin:.5em;
} 
.doi-link {
    margin:.5em;
    float:left;
}
.delete-seed {
    position:absolute;
    top:-0.1em;
    left:-0.3em;
    z-index: 1;
    border-style:none;
    background:none;
/*     background-color: rgb(199, 5, 5)
 */
}