html { 
    height:100%; 
}

body {
    display: flex;
    flex-direction: column;
    margin:0em;
    height:100%; 
}

.main {
    display: flex;
    flex-direction: row;   
    flex-grow: 1;
}
.panel {
     position: relative;
     overflow: hidden;
     background-color: rgb(255, 255, 255)
 }
#logo-panel {
    background-color: rgb(255, 255, 255);
    width: 20em;
    position: relative;
    margin: .5em;
}
#list-panel {
    width: 80em;
    margin-right:0;
    border: 1px solid;   
}
#graph-panel {
    width:200em;
    display:flex;
    flex-direction: column;
}