#help-button {
    background:none;
    position: absolute;
    bottom:.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:none;
}

#logo-panel {
    background-color: #E0DFDF
}

.side-bar-button {
    width:100%;
    height:4em;
    border-style:none;
    display: block;
    margin: 0px;
    padding:5px;
    outline:none;
}

.side-bar-icon {
    width:2em;
    height:2em;
    max-width: 20em;
    max-height: 20em;
    object-fit: contain;
}

#settings-button{
    position: absolute;
    bottom:0px
}

.box-toggle-on{
    background:#C4C4C4
}