html,body { 
    
    height:100%; 
    font-size:100%;
}

body {
    display: flex;
    flex-direction: column;
    margin:0em;
}

* {

    font-family: 'Comfortaa',serif;
}


header {

    background-color: rgb(190, 192, 196);
    height: 6em;
    padding: 1em;
    border-bottom: .2em solid rgb(94, 93, 93);
    position: relative;
}

#helpButton {

    background:none;
    position: absolute;
    top:.5em;
    right:.5em;
    border-style:none;
}

.logo {

    height: 70%;
    margin: 2em 2em 1em .5em;
}

#main {
   display: flex;
   flex-grow: 1;
}

.panel {

    border: .05em solid; 
    border-radius: .5em;
    margin: .5em;
    position: relative;
    overflow:hidden;
    background-color: rgb(255, 255, 255)

}

h1,h2,h3,h4 {

    font-family: 'Comfortaa',serif

}

h1 {

    font-weight: 100;
    font-size: 1em;
    margin: .5em;
}

#seedPapers {

    width: 80em;
    margin-right:0;
    border-radius: .5em 0em 0em .5em;

}

#collapseBar {

    background: rgb(127, 128, 131);
    width: 5em;
    border-style: none;
    border-radius: 0 .5em .5em 0;
    z-index: 2;
    position: relative;
    margin-left: 0em;
}

#collapse-seeds-icon {

    position: absolute;
    top:50%;
    left:10%;

}


#connectedPapers {

    width:200em;
    display:flex;
    flex-direction: column;
}

.navtabs {

    position: absolute;
    right:0em;
    top:0em;

}

#pageTabs {

    position: absolute;
    bottom:0;
    right:0;

}

.tab {

    border: .05em solid rgb(63, 62, 62);
    border-radius:.5em .5em 0em 0em;
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
    padding: .5em;

}

#addSeeds {

    position:absolute;
    bottom:0;
    width:100%;
    border-style: none;
    border-radius: 0em 0em 0em .5em;
    z-index: 1;

}

.fa-plus {

    color:green;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: .5em .5em;
    border: .1em solid #888;
    width: 40%; 
    position: relative;
    border-style:none;
    border-radius: .5em;

}

#helpModal > .modal-content {

    width:60%;
    margin:7% auto;
    padding:2%;
}

#addSeedModal > .modal-content > button {

    display:block;
    background-color: rgb(104, 104, 104);
    border-style: none;
    height: 6em;
    margin:.5em 0em;
    width:100%;
    color:white;
}

#table-container {
    display:none;
}

#networkView {
    
    width:100%;
    height:100%;

}
#forceGraph {

    width:100%;
    height:100%;

}

#graphKey {

    position:absolute;
    bottom:1em;
}

#controlPanel {

    position:absolute;
    right:0;
    bottom:0;
    margin: 1em;
    height:1em;
}


#thresholdSlider {

    position:absolute;
    left:1em;
    bottom:1em;
    width:30%;
    
}

#thresholdInput {

    width:90%;
    margin-bottom:.5em;
}

#thresholdOutput {

   /*  display:block; */    
    width:10%;
    text-align: center;
}

#seed-paper-container {
    
    height:90%;
    overflow:auto;
    font-size: 70%;

}
.seed-paper-box{
    background-color:rgb(255, 255, 255)

}
.seed-paper-box:hover{

    background-color:rgb(255, 199, 0)

}

.paper-title {

    font-weight: 800;
    margin:1em;
}

.author-year {

    text-align: right;
    margin:.5em;
} 

.doi-link {

    margin:.5em;
    float:left;
}

.delete-seed {

    position:absolute;
    top:0;
    right:0;
    border-style:none;
    border-radius: .5em;
    background:none;
/*     background-color: rgb(199, 5, 5)
 */
}

#tableView {

    display:none;
    overflow:auto;
    margin:1em;
    flex-grow:1;
    font-size:60%;
 }

.node {
    stroke: #fff;
    stroke-width: 1px;
    fill: rgb(94, 94, 94);
}

.seed-node {

    stroke: #fff;
    stroke-width: 1px;
    fill: rgb(255, 199, 0)
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1.5px;
}

.node:hover, .seed-node:hover {

    stroke: rgb(97, 97, 97);
    stroke-width: 2px;
    
}

#networkKey {

    position:absolute;
    left: 1%;
    top: 10%;
    font-size: .5em;
}

.key-icon {
    float:left;
    height: 54px; 
}

#networkKey svg {

    width: 18px;
    height: 16px;
}

#networkKey svg circle {

    r: 7px;
    cx: 9px;
    cy: 9px;
    stroke:none;
}

#toggleMode{
	height: 0;
	width: 0;
    visibility: hidden;
    margin:0;
}

.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 18px;
	height: 36px;
	background: rgb(200,200,200);
	display: block;
	border-radius: 18px;
	position: relative;
}

.toggle:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 14px;
	height: 14px;
	background:rgb(94, 94, 94);
	border-radius: 14px;
	transition: 0.3s;
}

#toggleMode:checked + .toggle:after {
	top: calc(100% - 2px);
	transform: translateY(-100%);
}

.toggle:active:after {
	height: 20px;
}

.key-label {
    position: absolute;
    left:18px;
}

.key-label div {

    white-space: nowrap;
    height:8px;
    padding:5px;
}

#selected-paper-box {

    display:none;
    position: absolute;
    right:0em;
    bottom:.2em;
    width:30%;
    background-color: rgb(212, 212, 212);

}

.add-seed {

    text-align: right;
}

