.table-item{
    background-color: #eaeaea;
    padding: 2em 0;
    transition: background .3s;
}

.table-item:hover {
    background: #FFC700;
}

.table-cell{
    padding: 1em;
}

.table-title{
    width: 80em;
}
.table-author{
    width: 15em;
}
.table-year{
    width: 5em;
}
.table-journal{
    width:20em
}

table{
    height:100%;
    border-spacing: 0 0.1em;
}

.table-body {
    height: 68%;
    overflow: auto;
}

td {
    font-size: 12px;
}
