html { 
    height:100%; 
}

body {
    display: flex;
    flex-direction: column;
    margin:0em;
    height:100%;
    overflow:hidden; 
}

.main {
    display: flex;
    flex-direction: row;   
    flex-grow: 1;
}
.panel {
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
 }
#logo-panel {
    width: 65px;
    position: relative;
    margin: 0;
    flex-grow:0;
    flex-shrink: 0;
}
#list-panel {
    width: 80em;
    margin-right:0;
    border: none; 
    flex-grow:0;  
}
#graph-panel {
    width:200em;
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink: 1;
}

#logo{
    position: absolute;
    bottom:0em;
    right:0em;
    margin:2em;
    max-width:40%;
}

.hide {
    display:none;
}

.show{
    display:block;
} 