.paper-box {
    background-color:#F7F7F7;
    border: none;
    margin: .1% 0;
    padding: 5% 2% 5% 10%;
}

.paper-box:hover{
    background-color:rgb(255, 199, 0)
}
.paper-title {
    padding-bottom:1em;
}
.metric {
    float:right;
    position: absolute;
    bottom: 0em;
    right: 0em;
    margin: 1em;
    color:#FFC700
}
.metric-count{
    color:#BE2121;
}
.author-year {
    text-align: left;
    padding:.5em oem;
} 
.open-icon{
    margin-left:.5em;
    max-height: 1em;
}

.paper-box:hover > .metric{
    color:white;
}

.paper-box:hover .stroke1 {
    stroke:white;
}
.paper-box:hover .fill1 {
    fill:white;
}



