#selected-paper-box {
    display:none;
    position: absolute;
    font-size: 70%;
    right:0em;
    bottom:.2em;
    max-width:50%;
    background-color: rgb(255, 199, 0);
    padding:2em;
    
}

.add-seed {
    right:5px;
    border:none;
    background:#383A38;
    float:right;
    color:white;
    font-size: 16px;
    height: 40px;
    border-radius: 20px;
    padding: .5em 1em;
    margin:.5em;
}

#selected-paper-box .stroke1 {
    stroke:white;
}
#selected-paper-box .fill1 {
    fill:white;
}